@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --bgDark: #292929;
  --bgXDark: #131313;
  --textGrey: rgba(255, 255, 255, 0.5);
  --headline: rgba(255, 255, 255, 0.87);
}

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 62.5%;
    /* overflow: scroll;
    overflow-x: hidden; */
}


::-webkit-scrollbar-track {

  background-color: rgba(201, 201, 202, 0)
  
}

::-webkit-scrollbar {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
}

@supports ( scrollbar-color: white grey) {
  * {
    scrollbar-color: rgba(255, 255, 255, 0.527) rgba(201, 201, 202, 0.089);
    scrollbar-width: thin;
  }
}

  
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.164);
  width: 1rem;
  border-right: none;
  border-left: none;
  border-radius: 5rem;
}




.App {
  box-sizing: border-box;
  position: relative;
}



